/template/data/
/template/proxies.txt
/venv/
/test_copy/
/units/*
*.pyc
**/__pycache__/
telegram_bot/handlers/__pycache__/callback_handlers.cpython-310.pyc
telegram_bot/handlers/__pycache__/callbacks_data.cpython-310.pyc
telegram_bot/handlers/__pycache__/command_handlers.cpython-310.pyc
telegram_bot/handlers/add_proxies/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/add_proxies/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/add_proxies/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/add_proxies/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/broadcast/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/broadcast/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/broadcast/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/broadcast/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/create_unit/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/create_unit/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/create_unit/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/create_unit/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/dev/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/dev/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/dev/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/givedays/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/givedays/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/givedays/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/givedays/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/init_unit/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/init_unit/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/init_unit/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/instruments/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/instruments/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/instruments/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/instruments/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/sub_extend/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/sub_extend/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/sub_extend/__pycache__/states.cpython-310.pyc
telegram_bot/handlers/wallet_data/__pycache__/__init__.cpython-310.pyc
telegram_bot/handlers/wallet_data/__pycache__/callbacks.cpython-310.pyc
telegram_bot/handlers/wallet_data/__pycache__/messages.cpython-310.pyc
telegram_bot/handlers/wallet_data/__pycache__/states.cpython-310.pyc
telegram_bot/middlwares/__pycache__/backable_query_middleware.cpython-310.pyc
telegram_bot/middlwares/__pycache__/sub_active_middleware.cpython-310.pyc
telegram_bot/utils/__pycache__/api.cpython-310.pyc
telegram_bot/utils/__pycache__/instrument.cpython-310.pyc
telegram_bot/utils/__pycache__/keyboards.cpython-310.pyc
telegram_bot/utils/__pycache__/misc.cpython-310.pyc
